html, body { margin: 0; }
body {
    background: black;
    overflow-x: hidden;
    align-items: center;
}

section {
    /*margin: 20% auto;*/
    margin: 10% auto;
    width: 80%;
    color: white;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin: 2em 0;
}
.right { text-align: right; }
.center { text-align: center; }

.last {
    margin-bottom: 0;
    display: grid;
    place-items: center;
}
.last > * {
    grid-area: 1 / 1;
}
.last h2 {
    color: black;
}

h1 {
    font-size: 8vh;
    margin: 0;
    opacity: 0;
}
h2 {
    font-size: 6vh;
    /*margin: 47vh 0;*/
    opacity: 0;
}
p {
    font-size: 3vh;
    margin: 0;
    opacity: 0;
}

img {
    opacity: 0;
    margin: 2em 0;
    width: 100%;
    max-height: 1200px;
}

.col > img {
    max-width: 50%;
    max-height: 1200px;
    margin: 0;
}
.col > video {
    max-width: 50%;
    max-height: 1200px;
    margin: 0;
}

video {
    max-height: 1200px;
}
